# Binaries
goluatbl
*.exe
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
./dist

# Go workspace file
go.work

# IDE
.vscode/
.idea/

# Output directory (arquivos gerados)
output/

# Input directory (pasta de trabalho do usuário - não commitar)
input/
